.coming-soon-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .coming-soon-header {
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    text-shadow: 2px 2px #fff;
  }
  